.orders {
  .order-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}


.order-create {
  .bootstrap-datetimepicker-widget .picker-switch a {
    color: white;
  }
}
